FONT	{FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 10px}
BODY	{FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 10px}
DIV		{FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 10px}
th,td,p{color: #C0C0C0; font:10px Verdana,Arial,Helvetica,sans-serif}

/* General page style. The scroll bar colours only visible in IE5.5+ */

body{
background: #000000 url(https://www.net-clan.com/WolfWeb/images/background.gif);
color: #e7e7e7;
scrollbar-3dlight-color: #6a6a6a;
scrollbar-arrow-color: #9999AA;
scrollbar-darkshadow-color: #000000;
scrollbar-face-color: #444444;
scrollbar-highlight-color: #444444;
scrollbar-shadow-color: #000000;
scrollbar-track-color: #2e2e2e;
}

/* Form elements */
input{border-color: #5b5b5b; color:#eeeeff; background-color: #000000; font:normal 11px Verdana,Arial,Helvetica,sans-serif}
textarea{border-color: #5b5b5b; color:#eeeeff; background-color: #303030; font:normal 11px Verdana,Arial,Helvetica,sans-serif}
select{border-color: #5b5b5b; color:#eeeeff; font:normal 11px Verdana,Arial,Helvetica,sans-serif}

/* The text input fields background colour */
input.post,textarea.post,select{background:#303030}
input{text-indent:2px}

/* The buttons used for bbCode styling in message post */
input.button{
background: #000000; color:#9999AA; font:11px Verdana,Arial,Helvetica,sans-serif}

/* The main submit button option */
input.mainoption{background: #000000;font-weight:bold}

/* None-bold submit button */
input.liteoption{background: #000000;font-weight:normal}

/* Quote & Code blocks */
.code{
background: #545454;
border: 1px solid #000000;
color: #fff8dc;
}
.quote{
background: #525252;
border: 1px solid #000000;
color:#e7e7e7;
}

hr{border:0px solid #000000; border-top-width:1px; height:0px}
